g.dragging rect {
    stroke: green;
}

svg {
    /*border: 1px solid black;*/
}

#download {
    position: absolute;
    top:   40px;
    right: 40px;
}

#right_col {
    padding: 0px;
    overflow: hidden
}

body, body div.row{
    margin:0px;
    overflow-y: hidden;
}

#left_col {
    padding:0px;
}

#left_col_contents{
    overflow-y: scroll;
}

#logo img{
     width: 100%;
}

#logo h1{
    text-align:center;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    margin: 1rem 0 1rem 0;
}
